.settings_container{
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  color: rgb(187, 187, 187);
  font-weight: 600;
  position: absolute;
  left: calc(50% - 200px);
  top: 11%;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 10px;
  color: rgb(85, 85, 85);
  height: 30px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.timers {
  margin-top: 10px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.timers .span_title {
  color: rgb(85, 85, 85);
  margin-bottom: 15px;
}

.timers_settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mini_container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.mini_container label {
  margin-bottom: 5px;
  font-size: 14px;
}

.mini_container input {
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  font-size: 16px;
  padding: 10px;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  width: 100px;
  box-sizing: border-box;
}

.interval_settings {
  padding: 10px;
  color: rgb(85, 85, 85);
  font-weight: bold;
}

.interval_settings_lines {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.interval_settings_lines input[type="checkbox"] {
  width: 60px;
  height: 32px;
  appearance: none;
  background-color:  rgb(204, 204, 204);
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.interval_settings_lines input[type="checkbox"]:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
}
.interval_settings_lines input:checked[type="checkbox"] {
  background-color: rgba(132, 199, 51, 0.8);
}

.interval_settings_lines input:checked[type="checkbox"]:before {
  left: 30px
}

.interval_settings_lines input[type="number"] {
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  font-size: 16px;
  padding: 10px;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  box-sizing: border-box;
  width: 70px;
}

.settings_footer {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 10px;
  bottom: 0;
  background-color: rgb(239, 239, 239);
  text-align: right;
  box-sizing: border-box;
  border-radius: 10px;
}

.settings_footer button {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  color: white;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 12px;
  min-width: 70px;
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
  display: inline-block;
}







