.settings_container{
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  color: rgb(187, 187, 187);
  font-weight: 600;
  position: absolute;
  left: calc(50% - 200px);
  top: 11%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  color: rgb(85, 85, 85);
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.timers {
  display: flex;
  flex-direction: column;
}

.timers .span_title {
  color: rgb(85, 85, 85);
  margin-bottom: 15px;
}

.timers_settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mini_container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.mini_container label {
  margin-bottom: 5px;
  font-size: 14px;
}

.mini_container input {
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  font-size: 16px;
  padding: 10px;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  width: 100px;
  box-sizing: border-box;
}






