.container {
  position: absolute;
  background-color: rgba(255, 255, 255, .1);
  width: 500px;
  height: 300px;
  top: 15%;
  left: calc(50% - 250px);
  border-radius: 6px;
  padding: 20px 0px 30px;
  box-sizing: border-box;
}

.buttons_container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.button {
  border: none;
  margin: 0px;
  border-radius: 4px;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none rgba(0,0,0,0.15);
  /* box-shadow: none; */
  color: white;
  /* opacity: 1; */
  font-weight: bold;
}

.timer {
  font-size: 100px;
  text-align: center;
}

.controls {
  text-align: center;
}

.controls button{
  cursor: pointer;
  border: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-family: ArialRounded;
  font-size: 22px;
  height: 55px;
  color: rgb(186, 73, 73);
  font-weight: bold;
  width: 200px;
  background-color: white;
  transition: color 0.5s ease-in-out 0s;
}

