.container {
  height: 100vh;
  width: 100vw;
}

.container.pomodoro {
  background-color: rgb(186, 73, 73);
  transition: background-color 1s ease;
}

.container.shortBreak {
  background-color: rgb(56, 133, 138);
  transition: background-color 1s ease;
}

.container.longBreak {
  background-color: rgb(57, 112, 151);
  transition: background-color 1s ease;
}

.timer_container {
  position: absolute;
  background-color: rgba(255, 255, 255, .1);
  width: 500px;
  height: 300px;
  top: 15%;
  left: calc(50% - 250px);
  border-radius: 6px;
  padding: 20px 0px 30px;
  box-sizing: border-box;
}

.timer_header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.timer_header .button {
  border: none;
  margin: 0px;
  border-radius: 4px;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none;
  color: white;
}

.timer_header .button:active {
  transform: translateY(2px);
}

.timer_header .selected {
  background: none rgba(0,0,0,0.15);
  font-weight: bold;
}

.timer {
  font-size: 100px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.controls {
  height: 100px;
  display: flex;
  align-items: center;
}

.controls button {
  cursor: pointer;
  border: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-size: 26px;
  height: 55px;
  font-weight: bold;
  width: 200px;
  background-color: white;
  margin-left: calc(50% - 100px);
}

.controls button:active {
  transform: translateY(2px);
}

.controls.actived button {
  transform: translateY(2px);
}

.controls i {
  margin-left: calc(((100% - (50% + 100px))/2) - 27px);
  margin-top: 20px;
  color: white;
  font-size: 30px;
}

.controls.inactive i {
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease;
}

.controls.actived i {
  opacity: .9;
  transition: opacity .5s ease;
}

.controls.actived i:hover {
  opacity: .7;
}

.controls.actived i:active {
  opacity: .5;
}

.pomodoro .controls button {
  color: rgb(186, 73, 73);
  transition: color 1s ease;
}

.shortBreak .controls button {
  color: rgb(56, 133, 138);
  transition: color 1s ease;
}

.longBreak .controls button {
  color: rgb(57, 112, 151);
  transition: color 1s ease;
}

.controls h3 {
  display: inline-block;
}

.interval_container {
  position: absolute;
  left: calc(50% - 250px);
  top: 60%;
  width: 500px;
  height: 60px;
  text-align: center;
  color: white;
}

.interval_container h4 {
  cursor: pointer;
  font-size: 18px;
  opacity: 0.6;
  margin-bottom: 8px;
}

.interval_container h3 {
  font-size: 22px;
  font-weight: 400;
}

.settings_container{
  width: 400px;
  height: 400px;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 200px);
  top: 11%;
  z-index: 4;
}


